@model FeedForwardBusinessEntities.ViewModels.UserLoginViewModel
@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_FeedForwardLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LoginPage</title>
</head>
<body>
    @using (Html.BeginForm())
    {
       
        <p>Old Password</p>
        @Html.PasswordFor(u=> u.Password)
        <br />
        <p>New Password</p>
        @Html.PasswordFor(u=> u.NewPassword)
        <br />
        <p>Confirm Password</p>
        @Html.PasswordFor(u=> u.ConfirmPassword)
        <br />
        <br />
        <input type="submit" value="Change Password" id="btnChangePassword" name="btnChangePassword" />

        <h2>@ViewBag.Info</h2>

    }



</body>
</html>
