@{
    ViewData["Title"] = "ContactUs";
    Layout = "~/Views/Shared/_FeedForwardLayout.cshtml";
}

<br />
@Html.Partial("_FeedForwardPartialView")
<br />

<h1>This is my Contact Us page</h1>
<br />
<h1>This is my Contact Us page</h1>
<br />
<h1>This is my Contact Us page</h1>
<br />

