@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_FeedForwardLayout.cshtml";
}

<h1>This is my Home page</h1>
<br />
<h1>This is my Home page</h1>
<br />
<h1>This is my Home page</h1>
<br />
<br />
@*@Html.Partial("_FeedForwardPartialView")
*@

