@model FeedForwardBusinessEntities.ViewModels.UserLoginViewModel
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_FeedForwardLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Welcome to Home Page</title>

    <p>Login successfully done, welcome to Main Page</p>
</head>
<body>
    @using (Html.BeginForm())
    {
        

    }



</body>
</html>

